<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new journal</title>
</head>
<body style="background-color:#37D8DE;">
<form th:method="POST" th:action="@{/carPark/journalTable/newJournal}" th:object="${journal}">
    <label for="timeOut">Time out: </label>
    <input type="datetime-local" th:field="*{time_out}" id="timeOut"/>
    <div style="color: red" th:if="${#fields.hasErrors('time_out')}" >Error: Invalid date and time</div>
    <br/>

    <label for="timeIn">Time in: </label>
    <input type="datetime-local" th:field="*{time_in}" id="timeIn"/>
    <div style="color: red" th:if="${#fields.hasErrors('time_in')}">Error: Invalid date and time</div>
    <br/>

    <select th:name="auto">
        <option value="">Select auto</option>
        <option
                th:each="a : ${autos}"
                th:value="${a.getId()}"
                th:text="${a.getNum()}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('auto')}" th:errors="*{auto}">Auto error</div>
    <br/>

    <select th:name="routes">
        <option value="">Select route</option>
        <option
                th:each="r : ${routes}"
                th:value="${r.getId()}"
                th:text="${r.getName()}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('routes')}" th:errors="*{routes}">Route error</div>
    <br/>

    <input type="submit" value="Create"/>
</form>
<br/>

<a href="/carPark/journalTable/newJournal">Reset</a>
<br/>
<br/>

<a href="/carPark/journalTable">Back</a>

</body>
</html>