<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auto edit</title>
</head>
<body style="background-color:#37D8DE;">

<form th:method="POST" th:action="@{/carPark/autoTable/{id}/autoEdit(id=${auto.getId()})}" th:object="${auto}">

    <label for="number">Number: </label>
    <input type="text" th:field="*{num}" id="number" />
    <div style="color: red" th:if="${#fields.hasErrors('num')}" th:errors="*{num}">Num name error</div>
    <br/>

    <label for="color">Color: </label>
    <input type="text" th:field="*{color}" id="color" />
    <div style="color: red" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Color name error</div>
    <br/>

    <label for="mark">Mark: </label>
    <input type="text" th:field="*{mark}" id="mark" />
    <div style="color: red" th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}">Mark name error</div>
    <br/>

    <select th:name="autoPersonnel">
        <option value="">Select auto personnel</option>
        <option
                th:each="ap : ${autoPersonnels}"
                th:value="${ap.getId()}"
                th:text="${ap.getLastName()}">
        </option>
    </select>
    <br/>

    <input type="submit" value="Update"/>

</form>
<br/>

<a th:href="@{/carPark/autoTable/{id}/autoEdit(id=${auto.getId()})}">Reset</a>
<br/>
<br/>

<a th:href="@{/carPark/autoTable/{id}(id=${auto.getId()})}">Back</a>

</body>
</html>